<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a3b870fdd8.js" crossorigin="anonymous"></script>
    {% assets 'css' %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    <title>HotPot Q and A</title>
  </head>
  <body class="bg-red-300 h-screen flex flex-col">
    {% block content %}
    {% endblock content %}
  </body>
</html>