<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a3b870fdd8.js" crossorigin="anonymous"></script>
    {% assets 'css' %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <script>
      const C_ID = 0;
      const C_DATE = 1;
      const C_PARENT_ID = 2;
      const C_CONTENT = 3;
      const C_TYPE = 4;

      async function postMessage(e) {
        try {
          e.preventDefault();
          const qToSubmit = e.target.elements.question.value;
          e.target.reset();

          const qRes = await fetch('/submit-question', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ question: qToSubmit }),
          })

          const comment = await qRes.json();
          console.log('comment', comment);
          updateChatWindow([comment])

          const aRes = await fetch('/generate-answer', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ question_id: comment[C_ID] }),
          })

          const answer = await aRes.json();
          console.log('answer', answer);
          updateChatWindow([answer])
        } catch (err) {
          console.log('err', err);
        }
      }

      function updateChatWindow(comments) {
        const chatBox = document.getElementById("chat-box");
          comments.forEach((comment) => {
            const div = document.createElement('div');
            let content = '<span></span>';

            if (comment[C_TYPE] === 'bot') {
              content = `
              <div class="bg-rose-400 p-2 rounded-lg max-w-1/2">
                <p>${comment[C_DATE]}</p>
                <p>A:${ comment[C_CONTENT]}</p>
              </div>`
            } else if (comment[C_TYPE] === 'user') {
              content = `
              <div class="bg-indigo-400 p-2 my-1 rounded-lg max-w-1/2 self-end">
                <p>${comment[C_DATE]}</p>
                <p>Q: ${comment[C_CONTENT]}</p>
              </div>`;
            }
            div.innerHTML = `
            <div class="post flex flex-col">
              ${content}
            </div>`;

            const child = chatBox.appendChild(div);
          })
          chatBox.scrollTop = chatBox.scrollHeight;
      }
    </script>
    <title>HotPot Q and A</title>
  </head>
  <body class="bg-red-300 h-screen flex flex-col">
    {% block content %}
    {% endblock content %}
  </body>
</html>