<!doctype html>
{% block content %}
<div class="p-2 mt-2 h-full flex flex-col">
    <div class="flex flex-col justify-between h-full">
      <div class="flex-grow">
        <div>
          <p>This is a question answering bot that uses the SQuAD2.0 dataset and a BERT model.</p>
          <p class="mt-2">You can ask this bot questions and it'll do its best to find the answer from Wikipedia</p>
          <p class="mt-2">Don't know what to ask? Here are a few example questions to get started:</p>
          <ul>
            <li class="ml-4">What is the biggest mammal?</li>
            <li class="ml-4">When was the United States of America founded?</li>
            <li class="ml-4">What is Seattle known for?</li>
          </ul>
        </div>
        <h3 class="text-lg text-indigo-600 font-semibold text-center">Project Members</h3>
        <p>Abenezer Taddesse, Jeff Wicorek, and Dan Jack
      </div>
      <div class="max-h-[32rem] md:mb-10">
        <h3 class="text-lg text-indigo-600 font-semibold text-center">Bibliography</h3>
        <p class="-indent-4 ml-4">fastforwardlabs.com <span class="italic">Building a QA System with BERT on Wikipedia.</span> fastforwardlabs.com, May 2020, <a href="https://qa.fastforwardlabs.com/pytorch/hugging%20face/wikipedia/bert/transformers/2020/05/19/Getting_Started_with_QA.html#QA-on-Wikipedia-pages" class="underline">"https://qa.fastforwardlabs.com/pytorch/hugging%20face/wikipedia/bert/transformers/2020/05/19/Getting_Started_with_QA.html#QA-on-Wikipedia-pages<a>. Accessed 23 May 2022.
        </p>
        <p class="-indent-4 ml-4">Rajpurkar, Pranav and Zhang, Jian and Lopyrev, Konstantin and Liang, Percy <span class="italic">SQuAD2.0 - The Stanford Question Answering Dataset.</span> Stanford University, Sep 2018, <a href="https://rajpurkar.github.io/SQuAD-explorer/" class="underline">"https://rajpurkar.github.io/SQuAD-explorer/<a>. Accessed 23 May 2022.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
