{% extends "base.html" %}

{% block content %}
<div class="bg-red-400 m-3 h-fit rounded-lg">
  <div class="flex flex-col lg:flex-row">
    <div class="bg-violet-400 p-3 m-3 w-inherit lg:w-3/5 rounded-lg h-fit">
      <h2 class="text-xl text-indigo-600 font-semibold text-center">
        Wiki Bot
      </h2>
      <div>{% include 'sliderButton.html' %} </div>
      <div>
        {% include 'list.html' %} 
      </div>
      <div class="pt-3">
        {% include 'form.html' %} 
      </div>
    </div>
    <div class="bg-violet-400 p-3 m-3 w-inherit lg:w-2/5 rounded-lg">
      <h2 class="text-xl text-indigo-600 font-semibold text-center">What's This?</h2>
      {% include 'info.html' %}
    </div>
  </div>
</div>
{% endblock %}
