{# This Slider by Lukas Hermann, see codepen: https://codepen.io/lhermann/pen/EBGZRZ #}
<!doctype html>
{% block content %}
<div class="flex items-center justify-center w-full mb-12">
  
  <label for="model-toggle" class="flex items-center cursor-pointer">
    <div onclick="toggleModel(event)" class="relative">
      <input type="checkbox" id="model-toggle" class="sr-only">
      <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
      <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
    </div>
    <div id="toggle-text" class="ml-3 text-gray-700 font-medium">
      {{ model_type }}
    </div>
  </label>

</div>
{% endblock %}
