<!doctype html>
{% block content %}
<div class="p-2 mt-2 h-full flex flex-col">
    <div class="flex flex-col justify-between h-full">
      <div class="flex-grow">
        <p>This is a chat bot that uses the HotPotQA dataset.</p>
        <p class="mt-2">Project members:</p>
        <ul>
          <li class="ml-4">Abenezer Taddesse</li>
          <li class="ml-4">Jeff Wicorek</li>
          <li class="ml-4">Dan Jack</li>
        </ul>
      </div>
      <div class="mb-10">
        <h3 class="text-lg text-indigo-600 font-semibold text-center">Bibliography</h3>
        <p class="-indent-4 ml-4">Yang, Zhilin and Qi, Peng and Zhang, Saizheng and Bengio, Yoshua and Cohen, William W. and Salakhutdinov, Ruslan and Manning, Christopher D. <span class="italic">HotpotQA: A Dataset for Diverse, Explainable Multi-hop Question Answering.</span> Cornell University, Sep 2018, <a href="https://arxiv.org/abs/1809.09600" class="underline">"https://arxiv.org/abs/1809.09600/<a>. Accessed 16 May 2022.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
